*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.titulo {
    color: blue;
    text-align: center;
    margin-top: 20px;
}

#adicionarTarefa{
    margin-top: 20px;
    text-align: center;
}

#enviaTarefa{
    margin-left: 800px;

}

table {
    width: 90%;
    margin: auto;
    margin-top: 32px;
    text-align: center;
}

table, thead, tbody, th, td, tr {
    border: 1px solid #eee;
    border-collapse: collapse;
}

th, td {
    padding: 24px 4px;
}